@charset "UTF-8";

/* Typical Device Breakpoints 

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (min-width: 768px) {

    span#burguer { /* Desativa o menu burguer ao passar de 768px */
        display: none;
    }

    menu { /* Menu aparece embaixo do outro */
        display: block;
    }

    menu > ul > li { /* Menu fica lado a lado */
        display: inline-block;
    }

    main {
        width: 768px;
    }
}