@charset "UTF-8";

/* Todas as versões da midia */
/* Typical Device Breakpoints

Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px 
Grandes Telas: acima de 1200px

*/

/* Pequenas Telas
 
 @media screen and (max-width: 600px ) {

    }

 @media screen and (min-width: 600px) and (max-width: 768px ) {

}           
 */


/* IMPRESSORA */
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#celular { display: none;}
    img#tablet { display: none;}
    img#impressora { display: block;}
    img#PC { display: none;}
    img#TV { display: none;}
}







 /* TABLET */
 @media screen and (min-width: 768px) and (max-width: 992px) {
        body {
            background-image: url(../imagens/back-tablet.jpg);
        }
        img#celular { display: none;}
        img#tablet { display: block;}
        img#impressora { display: none;}
        img#PC { display: none;}
        img#TV { display: none;}
 }





 /* DESKTOP */
 @media screen and (min-width: 992px) and (max-width: 1200px) {
        body {
            background-image: url(../imagens/back-pc.jpg);
        }
        img#celular { display: none;}
        img#tablet { display: none;}
        img#impressora { display: none;}
        img#PC { display: block;}
        img#TV { display: none;}
 }






 /* TELAS GRANDES */
 @media screen and (min-width: 1200px) {
        body {
            background-image: url(../imagens/back-tv.jpg);
        }

        main {
            width: 700px;
        }

        img#celular { display: none;}
        img#tablet { display: none;}
        img#impressora { display: none;}
        img#PC { display: none;}
        img#TV { display: block;}
 }